html {
    height: 100%;
    font-family: sans-serif;
    background-color: #e8e8ef;
    background-image: repeating-linear-gradient(
        -45deg,
        #f0f0f8,
        #f0f0f8 10px,
        #e8e8ef 10px,
        #e8e8ef 20px
    );
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#verticalContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    gap: 0.25rem;
    padding: 0.25rem;
    overflow: hidden;
}

.centerVertical {
    justify-content: center;
}

#horizontalContainer {
    display: flex;
    height: 100%;
    gap: 0.25rem;
}

.shadow {
    box-shadow: 2px 2px 2px #d0d0d8;
}

h1 {
    text-align: center;
    margin: 0px;
    text-shadow: 2px 2px 2px #d0d0d8;
    transform: scale(1.2, 1.0);
}

.condensed {
    letter-spacing: -0.2rem;
    font-style: italic;
    color: #404088;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}

.rounded {
    border-radius: 3px;
}

.rounded:not(canvas) {
    border: 1px solid #d0d0d8;
}

canvas.rounded {
    outline: 1px solid #d0d0d8;
}

button {
    color: #404088;
    background-color: #f0f0f8;
}

button:active {
    color: black;
    background-color: #e8e8ef;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}